@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 隐藏移动端滚动条，保持纯净感 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


input[type="range"] {
  @apply h-1 bg-white/20 rounded-full appearance-none outline-none;
}

input[type="range"]::-webkit-slider-thumb {
  @apply w-4 h-4 bg-white rounded-full appearance-none cursor-pointer shadow-xl border-4 border-black/20;
}
